@import "base.scss";

body {
  font-family: "Cutive Mono", monospace;

  // font-family: 'Oxygen', sans-serif;

  // font-family: 'Questrial', sans-serif;
}

.hoverable {
  &__hovered {
    transform: scale(1.25);
  }
}

.js-tilt-glare-inner {
  border-radius: 2rem;
}