@tailwind base;
@tailwind components;
@tailwind utilities;

@import "base.scss";
@import "scrollsection.scss";

body {
  font-family: "Cutive Mono", monospace;

  // font-family: 'Oxygen', sans-serif;

  // font-family: 'Questrial', sans-serif;
}

.hoverable {
  &__hovered {
    transform: scale(1.25);
  }
}

.js-tilt-glare-inner {
  border-radius: 2rem;
}

.cta__button {
  display: block;
  padding: 0.75rem 2rem;
  text-decoration: none;
  color: var(--color-text);
  font-family: "Questrial", sans-serif;
  border-radius: 2rem;
  transform-style: preserve-3d !important;
  transform: perspective(1000px);
  transform: translateZ(20px) !important;
  background-color: #ffffff22;
  font-size: 1rem;
  &.disabled {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.4);
  } 
  div {
    transition: 0.3s ease-in-out;
  }
}